venv/
__pycache__/
.ipynb_checkpoints/
.vscode/

data/raw/creditcard.csv

*.pyc
*.pkl
*.joblib
*.h5

# Large datasets
data/processed/
data/raw/creditcard.csv
data/processed/creditcard_no_duplicates.csv
data/processed/creditcard_scaled.csv
data/processed/X.csv
data/processed/y.csv
data/processed/X_train.csv
data/processed/X_test.csv
data/processed/y_train.csv
data/processed/y_test.csv
data/processed/scaler.pkl
data/processed/X_train_smote.csv
data/processed/y_train_smote.csv






models/logistic_regression.pkl



# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Jupyter
.ipynb_checkpoints/

# CatBoost
catboost_info/

# Model files
models/*.pkl
models/*.joblib
models/*.cbm


models\logistic_regression_results.pkl
